<form class="chatedit edit-form">
  <h3>{{localize "CHATEDIT.EDITS.Speaker"}}</h3>
  <select name="speaker">
    <optgroup label="{{localize "USER.RolePlayer"}}">
      {{#each player}}
      <option value="{{value}}" {{#if (eq value @root.selected)}}selected{{/if}}>{{name}}</option>
      {{/each}}
    </optgroup>
    {{#each characters}}
    <optgroup label="{{localize label}}">
      {{#each actors}}
      <option value="{{value}}" {{#if (eq value @root.selected)}}selected{{/if}}>{{name}}</option>
      {{/each}}
    </optgroup>
    {{/each}}
  </select>
  <h3>{{localize "CHATEDIT.EDITS.Alias"}}</h3>
  {{> 'modules/chatedit/templates/alias.hbs'}}
  <h3>{{localize "CHATEDIT.EDITS.Edited"}}</h3>
  {{> 'modules/chatedit/templates/bottom.hbs'}}
</form>